.home{
    width:100%;
    height:100%;
    margin: 0;
}
.body{
    margin:0;
    padding:0;
    width:100%;
}


    .adSlider{
        display: flex;
        justify-content: center;
        margin-top: 35px;

    }
    .adMainText{
        font-weight: 900;
        font-size: 36px;
        margin-bottom: 25px;
        width: 480px;
    }
    .adText{
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 25px;
        width: 400px;
    }
    .adBuyButton{
        width:250px;
        height:50px;
        border:none;
        background-color:#DE3D64;
        color:#fff;
        font-weight:800;
        font-size: 16px;


    }
    .adTextPart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 130px;
        align-items: flex-start;
        margin-left: 100px;

    }
    .adImgPart{
        background-image: url('/items/drone.svg');
        margin-right: 0;
        width: 915px;
        height: 600px;
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .fresh{
        margin-top: 50px;
        margin-right: 190px;
        margin-left: 190px;
    }
    .freshMainText{
        font-weight: 900;
        font-size: 25px;
        margin-left: 200px;
        margin-top: 70px;
    }
    .catalog, .fresh {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .catalog{
        margin-top: 50px;
    }
    .aboutUs{
        display: flex;
        align-content: space-between;
        flex-direction: row;
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom: 150px;
        margin-top: 70px;

        gap: 100px;
    }
    .aboutUsText{
        display: flex;
        gap: 35px;
        align-items: center;
        justify-content: center;
    }
    .boldText{
        font-weight: 900;
        font-size: 50px;
    }
    .notBoldText{
        font-size: 14px;
    }

@media (max-width: 1500px) {
    .adSlider {
        display: flex;
        flex-wrap: wrap;
    }
    .adSlider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .adTextPart {
        width: 100%;
        max-width: 860px;
        align-items: flex-start;
        margin-left: 0;
        margin-top: 70px;
    }
    .freshMainText{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 860px;
        align-items: flex-start;
        margin-top: 70px;
    }

    .adImgPart {
        width: 860px;
        height: 545px;
        background-image: url('/items/drone2.svg');

    }
    .catalog, .fresh{
        max-width: 860px;
        margin-right: auto;
        margin-left: auto;
    }
    .aboutUs{
        flex-wrap: wrap;
        max-width: 860px;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 1000px) {
    .adImgPart{
        width: 100%;
        max-width: 700px;
        height: 450px;
    }
    .catalog, .fresh{
        max-width: 710px;
    }
    .freshMainText{
        max-width: 700px;
    }
    .aboutUs{
        max-width: 700px;
    }
    .adTextPart{
        max-width: 700px;
    }
}
@media (max-width: 720px) {
    .adTextPart{
        max-width: 550px;
    }
    .adImgPart{
        width: 100%;
        max-width: 550px;
        height: 300px;
    }
    .catalog, .fresh{
        max-width: 560px;
    }
    .freshMainText{
        max-width: 550px;
    }
    .aboutUs{
        max-width: 550px;
    }
}
@media (max-width: 570px) {
    .adImgPart{
        margin-left: 30px;
        margin-right: 30px;
        height: 700px;
        width: 400px;
        background-image: url('/items/drone3.svg');
        background-size: cover;
        background-position: center;
    }
    .adMainText{
        font-size: 25px;
        width: 280px;
    }
    .adText{
        font-size: 14px;
        width: 280px;
    }
    .catalog, .fresh{
        max-width: 410px;
    }
    .freshMainText{
        max-width: 400px;
        font-size: 25px;
    }
    .aboutUs{
        max-width: 400px;
    }
}
@media (max-width: 570px) {
    .adMainText{
        width: 220px;
    }
    .adText{
        width: 220px;
    }
    .adImgPart {
        height: 450px;
        width: 260px;
    }
    .catalog, .fresh{
        max-width: 260px;
    }
    .freshMainText{
        max-width: 260px;
    }
    .aboutUs{
        max-width: 260px;
    }
    .adTextPart {

        max-width: 260px;
    }
}
