.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 200px;
    align-items: center;
    align-content: center;
    margin-top: 15px;
}

.name {
    font-weight: 900;
    margin-bottom: 5px;
    display: block;
    margin-top: 7px;
    font-size: 16px;
}
.underName {
    margin-top: 7px;
    font-size: 16px;
}
.img{
    width: 65px;
    margin-right: 5px;
    height: 55px;
    background-repeat: no-repeat;
    background-image: url('/header/television.svg');
    background-size: cover;
}
.logo{
    display: flex;
}
.ava{
    background-image: url('/header/ava.png');
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;

}
.profileName{
    font-weight: bold;
    font-size: 32px;
}
.cartIcon{
    font-size: 30px;

}
.cartAndPhone {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.phone {
    content: "+380 97 407 1505";
    margin-right: 10px;
    font-weight: bold;
}
.cartIcon {
    margin-right: 10px;
}
.cart {
    display: flex;

}
.total {
    font-weight: bold;
    margin-top: 8px;
}
@media (max-width: 1500px) {
    .header{
        margin-left: auto;
        margin-right: auto;
        max-width: 860px;
    }
}
@media (max-width: 1000px) {
    .header{
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
    }
    .cartAndPhone{
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .profileName{
        font-size: 25px;
    }
}
@media (max-width: 720px) {
    .header{
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    .name {
        font-weight: 800;
        margin-bottom: 3px;
        margin-top: 4px;
        font-size: 12px;
    }
    .underName {
        margin-top: 4px;
        font-size: 12px;
    }
    .img{
        width: 65px;
        margin-right: 0;
        height: 55px;
    }
    .logo{
        gap: 5px;
    }
    .ava{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .profileName{
        font-size: 20px;
    }
}
@media (max-width: 570px) {
    .header{
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
    .img{
        width: 0;
        margin-right: 0;
        height: 0;
    }
    .profileName{
        font-size: 0;
    }
    .cartIcon{
        font-size: 0;
    }
    .phone::after{
        content: "+380 ...";
    }
}